{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<h1>Formulaire d'envoi de fichier</h1>

{{ form_start(form) }}
    {# ... #}

    {{ form_row(form.attachement) }}
{{ form_end(form) }}

{% endblock %}
